h1, h2{
    color: $dark;
}
h3, h4, h6 {
 color: $dark-grey;
}

h2{
    font-size: 33px;
}

h5{
    font-size: 20px;
    color: $light-blue;
}

.f-size{
    color: $darker-grey;
    font-size: 14px;
}
